a{
text-decoration: none;
color: gray;
transition: all 0.3s;
}

a:hover{
color: tomato;
}

h1{
font-family: "Source Code Pro", "Jersey", sans-serif;
font-weight: 500;
}

h3{
font-family: "Source Code Pro", "Jersey", sans-serif;
font-weight: 500;
}

.bottom{
position: relative;
top: 50px;
}

.graph_descript{
height: fit-content;
width: 600px;
position: relative;
top: 150px;
}

.resources{
position: relative;
display: flex;
justify-content: space-around;
}

    
#top{
font-size: 13px;
font-family: "Source Code Pro", "Jersey", sans-serif;
font-weight: 100;
display: flex;
justify-content: space-around;
border: 0.5px solid;
border-radius: 20px;
height: 25px;
width: 250px;
background-color: gainsboro;
}



#description{
font-size: 14px;
font-family: "Source Code Pro", "Jersey", sans-serif;
font-weight: 400;
border: 1px solid black;
padding: 10px;
width: 30vw;
max-width: 500px;
min-width: 350px;
margin: 0;
}

#sketch-holder{
text-align: center;
font-size: 16px;
font-family: "Source Code Pro", "Jersey", sans-serif;
font-weight: 100;
border: 1px solid black;
padding: 10px;
width: 30vw;
max-width: 500px;
min-width: 350px;
}

#journal-container{
position: relative;
display: flex;
margin: 0;
}

#journal-content{
width: 100%;
min-width: 350px;
max-width: 500px;
padding: 10px;
border: 1px solid black;
font-family: "Source Code Pro", "Jersey", sans-serif;
font-size: 16px;
font-weight: 400;
margin: 0;
}

#side-bar{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 1.5rem;
width: 100%;
max-width: 300px;
min-width: 150px;
margin: 0;
}

#video-container iframe{
border: 2px solid black;
border-radius: 2px;
padding: 0;
}

.video-wrapper {
position: relative;
width: 100%;
padding-bottom: 56.25%; /* 16:9 ratio */
height: 0;
overflow: hidden;
margin-top: 1rem;
}

.video-wrapper iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
max-width: 475px;
max-height: 267px;
border-radius: 3px;
}


/* MOBILE LAYOUT */
.content-wrapper{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 2rem;
padding: 0;
margin: 0;
width: 100%;
max-width: fit-content;
}

/* DESKTOP LAYOUT OVERRIDE */
@media (min-width: 1050px){
.content-wrapper{
flex-direction: row;
justify-content: flex-start;
align-items: stretch;
gap: 3rem;
width: fit-content;
margin-left: 0;
}

#description,
#side-bar {
align-self: stretch; 
}

#description{
width: 70vw;
height: auto;
max-height:750px;
min-height: 500px;
max-width: 1800px;
}

#side-bar{
width: 40vw;
max-width: 400px;
}

#journal-content{
width: 30vw;
min-width: auto;
max-width: 375px;
padding: 10px;
border: 1px solid black;
font-family: "Source Code Pro", "Jersey", sans-serif;
font-size: 16px;
font-weight: 400;
margin: 0;
}

#sketch-holder{
text-align: center;
font-size: 16px;
font-family: "Source Code Pro", "Jersey", sans-serif;
font-weight: 100;
border: 1px solid black;
padding: 10px;
width: 60vw;
max-width: 800px;
min-width: 500px;
}

}
